.main-sort-field {
    height: 60px;
    box-shadow: 0 1px 0 #dddddd;
    background-color: #ffffff;
}
@media(max-width: 767px) {

}
/* Tablet */
@media(min-width: 768px) {

}
/* Laptop */
@media(min-width: 992px) {

}
/* Desktop */
@media(min-width: 1200px) {

}